//this covers styles for event, archive, blog, and news

.blog{

  &-header {
    align-self: flex-end;
    width: 60%;
    color: $white;
    z-index:3;
    @include breakpoint(medium down) {
      width: 100%;
    }

    &-breadcrumb {
      color: white;
      margin-bottom: 5px;
      a{
        padding: 0 5px 0 0;
        color: $green;
        font-family: $header-font-family;
      }
    }
  }
  article{
    padding: 0 0 25px 0;
    margin-bottom: 25px;
    border-bottom: 1px $light-gray solid;
    .blog-list-post{
      .post-featured-image{
        display: block;
        background-size:cover;
        background-position: center;
        width: 90%;
        height: 100%;
        margin-right:10px;
        @include breakpoint(medium down) {
          margin-bottom: 20px;
          height: 120px;
          width:100%;
        }
      }
    }

    time{
      color: $white-gray;
      padding: 0 0 5px 0px;
    }
    .entry-content{
      margin-top: 6px;
      width: 100%;
      .read-more{
        width:100%;
        float:left;
      }
    }
    h3, h2{
      margin-bottom: 0;
    }
  }
  &.single article{
    padding:0;
  }
  .sidebar h6{
    margin-bottom: 0;
  }
  .widget{
    ul{
      margin-left:0;
    }
    li{
      list-style: none;
    }
  }
  .nav-links{
    padding: 20px 0;
    margin-bottom: 22px;
  }
  .pagination{
    margin: 2rem;
  }
  .tribe-events-tooltip{
    padding: 10px;
    h3{
      padding-left: 0;
    }
  }
}
