.slider-header{
  color: white;
  font-family: "Chunkfive";
  margin: 0;
  line-height: .84;
  font-size: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 700px;
  padding: 5px;
  position:relative;
  &:hover{
    &::after{
      right: 30px;
      transition: .4s all ease-in-out;
    }
  }

  &::after{
    color: $green;
    transition: .4s all ease-in-out;
    background-image: url(../images/icons/right-arrow.svg);
    width: 40px;
    content: "";
    height: 40px;
    display: block;
    background-size: contain;
    bottom: 20px;
    right: 40px;
    position: absolute;
    background-repeat: no-repeat;
  }
  a{
    color:white;
  }
}
