.main-container {
  @include xy-grid-container;
}

.reveal{
  padding:0;
  border: 0;
  background-color: transparent;
}


a{
  color: $light-orange;
  transition: .4s all;
  &:hover, &:focus {
    color: $green;
    transition: .4s all;
  }
}

.body-content{
  .main-container{
    h1,h2,h3,h4,h5,h6{
      margin-top: 1.2rem;
      margin-bottom: 0rem;
    }
    h2{
      color: #DC2c28; //red
    }
    h3{
      color: #F38118; //orange
    }
    h4,h5{
      color: #454545; //black
    }
  }
  iframe{
    width:100%;
  }
}

.pagination .current{
  background-color: $light-orange;
}

.main-grid {
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  //Content and Margin
  .flex-grid {
    img{
    }
    &.alternating:nth-child(even) {
      flex-direction: row-reverse; //switches every other video section
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(8);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  }
}
